+ticketCard()
  .ticket-card__img
    +insertOfferImage(offer)
  .ticket-card__info
    +ticketLabel(offer.type)
    .ticket-card__categories
      each category of offer.categories
        a(href=`/offers/category/${category.id}`) #{category.name}
    .ticket-card__header
      h3.ticket-card__title
        a(href=`/offers/${offer.id}`) #{offer.title}
      p.ticket-card__price
        span.js-sum #{offer.sum}
        |  ₽
    +tiketCardDescription(offer.description)
