extends ../layout.pug

block content
  -
    const formatDate = (dateString) => {
      const date = new Date(dateString);
      return date.toLocaleString();
    }
  main.page-content
    section.ticket
      .ticket__wrapper
        h1.visually-hidden Карточка объявления
        .ticket__content
          .ticket__img
            img(src=`/img/${offer.picture}` alt=offer.title)
          .ticket__info
            h2.ticket__title #{offer.title}
            .ticket__header
              p.ticket__price
                span.js-sum #{offer.sum}
                |  ₽
              p.ticket__action #{offer.type === `OFFER` ? `КУПЛЮ` : `ПРОДАМ`}
            .ticket__desc
              p #{offer.description}
            .ticket__data
              p
                b Дата добавления:
                span #{formatDate(offer.createdAt)}
              p
                b Автор:
                a(href="#") #{offer.user.name}
              p
                b Контакты:
                a(href=`mailto:${offer.user.email}`) #{offer.user.email}
            ul.ticket__tags
              each category in offer.categories
                li
                  a.category-tile.category-tile--small(href="#")
                    span.category-tile__image
                      +categoryImage(category)
                    span.category-tile__label #{category.name}
        .ticket__comments
          h2.ticket__subtitle Комментарии
          .ticket__comment-form
            form.form.comment-form(action=`/offers/${id}/comments` method="post" enctype="application/x-www-form-urlencoded"
             autocomplete="off")
              input(type="hidden" name="_csrf" value=csrfToken)
              .comment-form__header
                a.comment-form__avatar.avatar(href="#")
                  img(src="/img/avatar.jpg" srcset="/img/avatar@2x.jpg 2x" alt="Аватар пользователя")
                p.comment-form__author Вам слово
              .comment-form__field
                .form__field
                  textarea#comment-field.js-field(name="comment" cols="30" rows="10" maxlength="400" minlength="50") Нормальное вообще кресло! А как насч
                  label(for="comment-field") Текст комментария
                  span Обязательное поле
              +errorMessage(error)
              button.comment-form__button.btn.btn--white.js-button(type="submit" disabled="") Отправить
          .ticket__comments-list
            ul.comments-list
              each comment in offer.comments
                li
                  .comment-card
                    .comment-card__header
                      a.comment-card__avatar.avatar(href="#")
                        img(src=`/img/${comment.user.avatar}` alt="Аватар пользователя")
                      p.comment-card__author #{comment.user.name}
                    .comment-card__content
                      p #{comment.text}
