extends ../layout.pug

block content
  -
    const formatDate = (dateString) => {
      const date = new Date(dateString);
      return date.toLocaleString();
    }
  main.page-content
    section.ticket
      .ticket__wrapper
        h1.visually-hidden Карточка объявления
        .ticket__content
          .ticket__img
            +insertOfferImage(offer)
          .ticket__info
            h2.ticket__title #{offer.title}
            .ticket__header
              p.ticket__price
                span.js-sum #{offer.sum}
                |  ₽
              p.ticket__action #{offer.type === `OFFER` ? `КУПЛЮ` : `ПРОДАМ`}
            .ticket__desc
              p #{offer.description}
            .ticket__data
              p
                b Дата добавления:
                span #{formatDate(offer.createdAt)}
              p
                b Автор:
                a(href="#") Денис Шкатулкин
              p
                b Контакты:
                a(href="mailto:shkatulkin@ya.ru") shkatulkin@ya.ru
            ul.ticket__tags
              each category of offer.categories
                li
                  a.category-tile.category-tile--small(href="#")
                    span.category-tile__image
                      +categoryImage(category)
                    span.category-tile__label #{category.name}
        .ticket__comments
          h2.ticket__subtitle Комментарии
          .ticket__comment-form
            form.form.comment-form(action="#" method="post")
              .comment-form__header
                a.comment-form__avatar.avatar(href="#")
                  img(src="/img/avatar.jpg" srcset="/img/avatar@2x.jpg 2x" alt="Аватар пользователя")
                p.comment-form__author Вам слово
              .comment-form__field
                .form__field
                  textarea#comment-field.js-field(name="comment" cols="30" rows="10") Нормальное вообще кресло! А как насч
                  label(for="comment-field") Текст комментария
                  span Обязательное поле
              button.comment-form__button.btn.btn--white.js-button(type="submit" disabled="") Отправить
          .ticket__comments-list
            ul.comments-list
              each comment of offer.comments
                li
                  .comment-card
                    .comment-card__header
                      a.comment-card__avatar.avatar(href="#")
                        img(src="/img/avatar02.jpg" srcset="/img/avatar02@2x.jpg 2x" alt="Аватар пользователя")
                      p.comment-card__author Георгий Шпиц
                    .comment-card__content
                      p #{comment.text}
