extends layout.pug

block content
  main.page-content
  section.tickets-list
    h2.visually-hidden Самые новые предложения
    .tickets-list__wrapper
      .tickets-list__header
        a.tickets-list__btn.btn.btn--big(href="/offers/add")
          span Новая публикация
      ul
        each offer in offers
          li.tickets-list__item.js-card
            .ticket-card.ticket-card--color01
              .ticket-card__img
                img(src=`/img/${offer.picture}` alt=offer.title)
              .ticket-card__info
                +ticketLabel(offer.type)
                .ticket-card__categories
                  each category in offer.categories
                    a(href="#") #{category.name}
                .ticket-card__header
                  h3.ticket-card__title
                    a(href=`offers/${offer.id}`) #{offer.title}
                  p.ticket-card__price
                    span.js-sum #{offer.sum}
                    |  ₽
              button.ticket-card__del.js-delete(type="button") Удалить
